<IfModule mod_rewrite.c>
    RewriteEngine On

    # Set the base URL to match your project directory
    RewriteBase /iods

    # Redirect all requests to the index.php file
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
